<web-app>
     <servlet>
     
          <servlet-name>abc</servlet-name>
          <servlet-class>com.nt.servlet.VoterServlet</servlet-class>
          
     </servlet>
     
     <servlet-mapping>
     
          <servlet-name>abc</servlet-name>
          <url-pattern>/vturl</url-pattern>
          
     </servlet-mapping>
     
</web-app>